<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky pt-3 sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active nav__icon" aria-current="page"
					href="{{ url_for('dashboard.admin_dashboard') }}">
					<i class="bx bx-home-alt"></i>
					Dashboard
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link nav__icon" href="{{ url_for('dashboard.todaysell') }}">
					<i class='bx bxs-calendar-alt'></i>
					Today's Sell
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link nav__icon" href="{{ url_for('dashboard.newsell') }}">
					<i class='bx bx-plus'></i>
					New Sell
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link nav__icon" href="{{ url_for('dashboard.brand') }}">
					<i class='bx bxl-apple'></i>
					Brand
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link nav__icon" href="{{ url_for('dashboard.category') }}">
					<i class='bx bx-category'></i>
					Category
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link nav__icon" href="{{ url_for('dashboard.products') }}">
					<i class="bx bx-cart"></i>
					Products
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav__icon" href="{{ url_for('dashboard.customer') }}">
					<i class="bx bx-group"></i>
					Customers
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav__icon" href="{{ url_for('dashboard.user_profile') }}">
					<i class='bx bx-user-circle'></i>
					Profile
				</a>
			</li>
		</ul>
	</div>
</nav>