{% extends 'root.html' %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="container row mt-3">

            <h1 class="text-center"> Add Products </h1>

            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.name.label(class="form-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.price.label(class="form-label") }}
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.discount.label(class="form-label") }}
                        {% if form.discount.errors %}
                            {{ form.discount(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.discount.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.discount(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.stock.label(class="form-label") }}
                        {% if form.stock.errors %}
                            {{ form.stock(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.stock.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.stock(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="d-flex">
                        <div class="form-group col-sm-6" style="padding-right: 2rem;">
                            <label for="brand" class="form-label"> Add a Brand </label>

                            <select name="brand" id="brand" class="form-control">
                                <option value=""> Select a brand </option>
                                {% for brand in brands %}
                                <option value="{{brand.id}}"> {{ brand.name }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-sm-6" style="padding-left: 2rem;">
                            <label for="category" class="form-label"> Add a Category </label>

                            <select name="category" id="category" class="form-control">
                                <option value=""> Select a category </option>
                                {% for category in categories %}
                                <option value="{{category.id}}"> {{ category.name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.description.label(class="form-label") }}
                        {% if form.description.errors %}
                            {{ form.description(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.colors.label(class="form-label") }}
                        {% if form.colors.errors %}
                            {{ form.colors(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.colors.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.colors(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>


                    <div class="d-flex">
                        <div class="form-group" style="padding-right: 2rem;">
                            {{ form.image1.label(class="form-label") }}
                            {% if form.image1.errors %}
                                {{ form.image1(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.image1.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.image1(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.image2.label(class="form-label") }}
                            {% if form.image2.errors %}
                                {{ form.image2(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.image2.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.image2(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group" style="padding-left: 2rem;">
                            {{ form.image3.label(class="form-label") }}
                            {% if form.image3.errors %}
                                {{ form.image3(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.image3.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.image3(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group mt-5 mb-5">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>

    </div>
{% endblock %}