{% extends 'layouts/root-dashboard.html' %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		BM Gadget & Tech
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Brand</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group me-2">
						<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
							data-bs-target="#brandModal">
							<i class="bx bx-plus"></i>
							Add Brand
						</button>
						<!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                        >
                            Export
                        </button> -->
					</div>
				</div>
			</div>

			<!-- add brand modal -->
			<div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="brandModalLabel" aria-hidden="true">
				<form method="POST" action="" enctype="multipart/form-data">
					{{ form.hidden_tag() }}
					<div class="modal-dialog modal-md" role="document">
						<div class="modal-content rounded-4 shadow">
							<div class="modal-header border-bottom-0">
								<h5 class="modal-title" id="exampleModalLabel">
									Add Brand
								</h5>

								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>

							<div class="modal-body py-0">
								<div class="row">
									<div class="col-md-12">
										<div class="form-floating mb-3">
											{% if form.brand_name.errors %}
											{{ form.brand_name(
												class="form-control is-invalid",
												placeholder="Brand Name"
											) }}
											<div class="invalid-feedback">
												{% for error in form.brand_name.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.brand_name(
												class="form-control",
												placeholder="Brand Name"
											) }}
											{% endif %}

											{{ form.brand_name.label(class="form-control-label") }}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="input-group mb-3">
											{{ form.brand_logo.label(class="input-group-text") }}

											{% if form.brand_logo.errors %}
											{{ form.brand_logo(
												class="form-control is-invalid",
												placeholder="Brand Logo"
											) }}
											<div class="invalid-feedback">
												{% for error in form.brand_logo.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.brand_logo(
												class="form-control",
												placeholder="Brand Logo"
											) }}
											{% endif %}

										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="form-floating mb-3">
											{% if form.brand_note.errors %}
											{{ form.brand_note(
												class="form-control is-invalid",
												placeholder="Brand Note",
												style="height: 100px"
											) }}
											<div class="invalid-feedback">
												{% for error in form.brand_note.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.brand_note(
												class="form-control",
												placeholder="Brand Note",
												style="height: 100px",
											) }}
											{% endif %}

											{{ form.brand_note.label(class="form-control-label") }}
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								{{ form.submit(class="btn btn-lg btn-primary w-100 mx-0 mb-2") }}
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- end of add brand modal -->

			<!-- SUMMERY OF BRAND -->
			<div class="container">
				<div class="row gap-2 mb-5">
					<div class="col-lg-3">
						<div class="border summery__box bg__anakiwa p-2">
							<h3 class="summery__box-title fs-1 fw-bolder">
								{{ brands|length }}
							</h3>
							<p class="summery__subtitle">Total Brand</p>
						</div>
					</div>
				</div>
			</div>

			<!-- BRAND DETAILS -->
			<h2>All Brand</h2>
			<hr />
			{% if brands %}
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col" width="100">#</th>
							<th scope="col">Brand Name</th>
							<th scope="col">Brand Logo</th>
							<th scope="col">Note</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for brand in brands %}
						<tr class="align-middle">
							<td class="text-center counters">{{ brand.id }}</td>
							<td>{{ brand.name }}</td>
							<td>
								{% if brand.logo %}
								<img src="{{ url_for('static', filename='brandlogo/' + brand.logo) }}" alt=""
									class="img-fluid avatar__logo" />
								{% else %}
								<img src="{{ url_for('static', filename='brandlogo/default.jpg') }}" alt=""
									class="img-fluid avatar__logo" />
								{% endif %}
							</td>
							<td>{{ brand.note }}</td>
							<td>
								<div class="btn-group dropstart">
									<button type="button" class="btn btn-dark btn-sm dropdown-toggle"
										data-bs-toggle="dropdown" aria-expanded="false">
										More Option
									</button>
									<ul class="dropdown-menu bg-gradient bg-info">
										<li>
											<a href="{{ url_for('dashboard.edit_brand', brand_id=brand.id) }}"
												class="dropdown-item">
												Edit info
											</a>
										</li>
										<li>
											<a href="#" class="dropdown-item bg-danger text-white"
												data-bs-toggle="modal" data-bs-target="#deleteBrandModal{{brand.id}}">
												Delete brand
											</a>
										</li>
									</ul>
								</div>

								<!-- DELETE BRAND MODAL -->
								<div class="modal fade" id="deleteBrandModal{{brand.id}}" tabindex="-1"
									aria-labelledby="deleteBrandModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 id="exampleModalLabel">Are you sure, want to delete this BRAND
													{{ brand.id }}?
												</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-footer">
												<button class="btn btn-sm m-1 btn-dark">Cancel</button>
												<form
													action="{{ url_for('dashboard.delete_brand', brand_id=brand.id) }}"
													method="POST">
													<input type="submit" class="btn btn-danger btn-sm m-1"
														value="Yes, delete BRAND" />
												</form>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<h5>
				No brand added yet.
				<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
					data-bs-target="#brandModal">
					<i class="bx bx-plus"></i>
					Add Brand
				</button>
			</h5>
			{% endif %}
		</main>
	</div>
</div>

<script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script>

{% endblock %}