{% extends 'layouts/root-dashboard.html' %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		BM Gadget & Tech
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="#">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Categories</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group me-2">
						<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
							data-bs-target="#categoryModal">
							<i class="bx bx-plus"></i>
							Add Category
						</button>
					</div>
				</div>
			</div>

			<!-- add products modal -->
			<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel"
				aria-hidden="true">
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<div class="modal-dialog modal-md" role="document">
						<div class="modal-content rounded-4 shadow">
							<div class="modal-header border-bottom-0">
								<h5 class="modal-title" id="exampleModalLabel">
									Add Category
								</h5>

								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>

							<div class="modal-body py-0">
								<div class="row">
									<div class="col-md-12">
										<div class="form-floating mb-3">
											{% if form.category_name.errors %}
											{{ form.category_name(
												class="form-control is-invalid",
												placeholder="Customer Address"
											) }}
											<div class="invalid-feedback">
												{% for error in form.category_name.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.category_name(
											class="form-control",
											placeholder="Brand Name"
										) }}
											{% endif %}

											{{ form.category_name.label(class="form-control-label") }}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="form-floating mb-3">
											{% if form.category_note.errors %}
											{{ form.category_note(
												class="form-control is-invalid",
												placeholder="Customer Address",
												style="height: 100px"
											) }}
											<div class="invalid-feedback">
												{% for error in form.category_note.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.category_note(
												class="form-control",
												placeholder="Customer Address",
												style="height: 100px",
											) }}
											{% endif %}

											{{ form.category_note.label(class="form-control-label") }}
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								{{ form.submit(class="btn btn-lg btn-primary w-100 mx-0 mb-2") }}
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- end of add product modal -->

			<!-- SUMMERY OF BRAND -->
			<div class="container">
				<div class="row gap-2 mb-5">
					<div class="col-lg-3">
						<div class="border summery__box bg__anakiwa p-2">
							<h3 class="summery__box-title fs-1 fw-bolder">
								{{ categories|length }}
							</h3>
							<p class="summery__subtitle">Total Category</p>
						</div>
					</div>
				</div>
			</div>

			<!-- BRAND DETAILS -->
			<h2>All Category</h2>
			<hr />
			{% if categories %}
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col" width="100">Serial No</th>
							<th scope="col">Category Name</th>
							<th scope="col">Note</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for category in categories %}
						<tr class="align-middle">
							<td class="text-center counters">{{ category.id }}</td>
							<td>{{ category.name }}</td>
							<td>{{ category.note }}</td>
							<td>
								<div class="btn-group dropstart">
									<button type="button" class="btn btn-dark btn-sm dropdown-toggle"
										data-bs-toggle="dropdown" aria-expanded="false">
										More Option
									</button>
									<ul class="dropdown-menu bg-gradient bg-info">
										<li>
											<a href="{{ url_for('dashboard.edit_category', category_id=category.id) }}"
												class="dropdown-item">
												Edit info
											</a>
										</li>
										<li>
											<a href="#" class="dropdown-item bg-danger text-white"
												data-bs-toggle="modal"
												data-bs-target="#deleteCategoryModal{{category.id}}">
												Delete categroy
											</a>
										</li>
									</ul>
								</div>

								<!-- DELETE CATEGORY MODAL -->
								<div class="modal fade" id="deleteCategoryModal{{category.id}}" tabindex="-1"
									aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5>Are you sure, want to delete this category?</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-footer">
												<button class="btn btn-sm m-1 btn-dark">Cancel</button>
												<form
													action="{{ url_for('dashboard.delete_category', category_id=category.id) }}"
													method="POST">
													<input type="submit" class="btn btn-danger btn-sm m-1"
														value="Yes, delete category" />
												</form>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<h5>
				No category added yet.
				<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
					data-bs-target="#categoryModal">
					<i class="bx bx-plus"></i>
					Add Category
				</button>
			</h5>
			{% endif %}
		</main>
	</div>
</div>


<script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	console.log(serialnos);
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script>
{% endblock %}