body {
	font-family: "Poppins", sans-serif;
}

main {
	min-height: 80vh;
}

.bx {
	font-size: 1.4rem;
}

.bxs-pencil {
	font-size: 1rem;
}

.login__container {
	height: 100vh;
	display: flex;
	align-items: center;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
}

.nav__icon {
	display: flex;
	align-items: center;
}

.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: .75rem 1rem;
}

.nav__icon i {
	margin-right: 0.43rem;
}

.bg__mintgreen {
	background-color: #98ff98;
	color: #633528;
}

.bg__papayawhip {
	background-color: #ffefd5;
	color: #5d4e46;
}

.bg__goldenpoppy {
	background-color: #f6bb00;
	color: #000;
}

.bg__anakiwa {
	background-color: #9bddff;
	color: #334046;
}

/* === STATIC BOX START === */
.summery__box {
	width: 100%;
	height: 120px;
	display: grid;
	place-items: center;
	border-radius: 0.75rem;
}

.bg__mintgreen .summery__box-title,
.bg__mintgreen .summery__subtitle {
	color: #633528;
}

.bg__papayawhip .summery__box-title,
.bg__papayawhip .summery__subtitle {
	color: #5d4e46;
}

.bg__anakiwa .summery__box-title,
.bg__anakiwa .summery__subtitle {
	color: #334046;
}

/* === STATIC BOX END === */

/* === SMALL LOGO | BRAND LOGO === */
.avatar__logo {
	width: 50px;
	border-radius: 0.5rem;
}