@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', Arial, sans-serif !important;
    font-size: 12px;
}

.my-4 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.my-6 {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.py-4 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.header-title {
    font-size: 16px;
}

.bill-container {
    width: 50mm;
    padding: 10px;
}

.bill-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.bill-item {
    margin-bottom: 5px;
}

.bill-total {
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

.text-center {
    text-align: center;
}

.copyright {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}