{% extends 'layouts/root-dashboard.html' %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		BM Gadget & Tech
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" disabled />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Customer History</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group me-2">
						<!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
							data-bs-target="#dailysellModal">
							<i class="bx bx-plus"></i>
							Add Customer
						</button> -->
						<!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                        >
                            Export
                        </button> -->
					</div>
				</div>
			</div>

			<!-- SUMMERY OF CUSTOMER -->
			<div class="container">
				<div class="row gap-2 mb-5">
					<div class="col">
						<div class="border summery__box bg-dark text-white p-2">
							<h3 class="summery__box-title fs-1 fw-bolder" id="totalOrder">
								{{ orders.total }}
							</h3>
							<p class="summery__subtitle">Total Order</p>
						</div>
					</div>

					<div class="col">
						<div class="border summery__box bg__mintgreen p-2">
							<h3 class="summery__box-title fs-1 fw-bolder" id="totalPayment">
								{{ total_payment }}
							</h3>
							<p class="summery__subtitle">Total Purchased</p>
						</div>
					</div>
					
					<div class="col">
						<div class="border summery__box bg-warning p-2">
							<h3 class="summery__box-title fs-1 fw-bolder" id="pendingPayment">
								{{ pending_payment }}
							</h3>
							<p class="summery__subtitle">Total Pending</p>
						</div>
					</div>
				</div>
			</div>

			<!-- CUSTOMER DETAILS -->
			<h2>{{ customer.customer_name }} - History</h2>
			<hr />
			{% if customer %}
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th class="col">#</th>
							<th class="col">Invoice ID</th>
							<th class="col">Total Amount</th>
							<th class="col">Payment Status</th>
							<th class="col">Date</th>
							<th class="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders.items %}
						<tr>
							<td class="counters">0</td>
							<td>{{ order.invoiceid }}</td>
							<td>
								<small
									class="fs-6 d-inline-flex px-2 py-1 fw-lighter text-dark bg-dark bg-opacity-10 border border-dark border-opacity-10 rounded-2 totalprices">
									{{ order.totalprice }}
								</small>
							</td>
							<td>
								{% if order.payment_status == 'pending' %}
								<small
									class="d-inline-flex px-2 py-1 fw-semibold text-uppercase text-warning bg-warning bg-gradient bg-opacity-10 border border-success border-opacity-10 rounded-2">
									Pending
								</small>
								{% else %}
								<small
									class="text-uppercase d-inline-flex px-2 py-1 fw-semibold text-uppercase text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
									Paid - {{ order.payment_status }}
								</small>
								{% endif %}
							</td>
							<td>{{ order.pub_date.strftime('%d %b, %Y') }}</td>
							<td>
								<a 
									href="{{ url_for('dashboard.view_sell', invoiceid=order.invoiceid) }}"
									class="btn btn-sm btn-dark"	
								>
									View Order
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- PAGINATE FOR LARGE AMMOUNT OF DATA -->
			{% for page_num in orders.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
			{% if page_num %}
				{% if orders.page == page_num %}
				<a class="btn btn-sm btn-primary mb-4" href="{{ url_for('dashboard.customer_payment_history', page=page_num, customer_id=customer.id) }}">
					{{ page_num }} </a>
				{% else %}
				<a class="btn btn-sm btn-outline-primary mb-4"
					href="{{ url_for('dashboard.customer_payment_history', page=page_num, customer_id=customer.id) }}">
					{{ page_num }} 
				</a>
				{% endif %}
			{% else %}
				<a class="btn btn-sm mb-4" href="#"> .... </a>
			{% endif %}
			{% endfor %}
			
			
			{% else %}
			<h5>
				No product purchased yet.
			</h5>
			{% endif %}
		</main>
	</div>
</div>

<script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	console.log(serialnos);
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		// ADD COMMA TO THE NUMBER
		const numberWithCommas = (x) => {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}

		// GETTING ELEMENT FROM DOM
		let totalOrder = document.querySelector('#totalOrder') 
		let totalPayment = document.querySelector('#totalPayment')
		let pendingPayment = document.querySelector('#pendingPayment')

		// ADD COMMA
		totalOrder.innerText = numberWithCommas(totalOrder.innerText)
		totalPayment.innerText = numberWithCommas(totalPayment.innerText)
		pendingPayment.innerText = numberWithCommas(pendingPayment.innerText)
	})
</script>
{% endblock %}