{% extends 'layouts/root-dashboard.html' %}

{% block head %}
	{% for css_file in datatable_css %}
	<link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}">
	{% endfor %}
{% endblock %}

{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		{{ shopname }}
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" id="searchInvoice"
		placeholder="Search by Invoice ID" aria-label="Search" disabled />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">
					Dashboard
					(<span id="today">something went wrong. please reload</span>)
				</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group me-2">
						<a href="{{ url_for('dashboard.newsell') }}" class="btn btn-sm btn-outline-secondary">
							<i class="bx bx-plus"></i>
							New Sell
						</a>
					</div>
				</div>
			</div>

			<!-- SUMMERY OF PRODUCTS -->
			<div class="container">

				<div class="row gap-2 mb-3">
					<!-- STOCK - TOTAL PRODUCT -->
					<div class="col">
						<div class="border summery__box bg__anakiwa p-2">
							<h3 id="stock" class="summery__box-title fs-1 fw-bolder">
								00
							</h3>
							<p class="summery__subtitle">
								Products in Stock
							</p>
						</div>
					</div>

					<!-- SELLED - THIS MONTH -->
					<div class="col">
						<div class="border summery__box bg__anakiwa p-2">
							<h3 id="currentMonthSelledProduct" class="summery__box-title fs-1 fw-bolder">
								00
							</h3>
							<p class="summery__subtitle">
								This Month Selled Product
							</p>
						</div>
					</div>

					<!-- SELLED - TOTAL PRODUCT -->
					<div class="col">
						<div class="border summery__box bg__anakiwa p-2">
							<h3 id="totalsellproduct" class="summery__box-title fs-1 fw-bolder">
								00
							</h3>
							<p class="summery__subtitle">
								Total Selled Product
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- PRODUCTS DETAILS -->
			<h2>All Sells</h2>
			<div class="d-flex align-items-center gap-3">
				<div> Filter: </div>
				<div class="d-flex align-items-center gap-3">
					<select class="form-select" id="filterpayment">
						<option value="">All Invoices</option>
						<option value="cash">Cash</option>
						<option value="bkash/nagad">bKash/nagad</option>	
						<option value="card">Card</option>	
						<option value="pending">Pending</option>	
					</select>
				</div>
			</div>
			<hr />
			{% if sells %}
			<div class="table-responsive">
				<table class="table table-hover table-striped table-bordered table-sm" id="invoicetable">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Products</th>
							<th scope="col">Invoice ID</th>
							<th scope="col">Total Price</th>
							<th scope="col">Payment</th>
							<th scope="col">Date</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for sell in sells %}
						<tr class="align-middle">
							<td class="text-center counters">{{ sell.id }}</td>
							<td>
								{% for i in sell.selled_products %}
								{{ i.productname }},
								{% endfor %}
							</td>
							<td>{{ sell.invoiceid }}</td>
							<td>
								<small
									class="fs-6 d-inline-flex px-2 py-1 fw-lighter text-dark bg-dark bg-opacity-10 border border-dark border-opacity-10 rounded-2 totalprices">
									{{ sell.totalprice }}
								</small>
							</td>
							<td>
								{% if sell.payment_status == 'pending' %}
								<small
									class="d-inline-flex px-2 py-1 fw-semibold text-uppercase text-warning bg-warning bg-gradient bg-opacity-10 border border-success border-opacity-10 rounded-2">
									Pending
								</small>
								{% else %}
								<small
									class="text-uppercase d-inline-flex px-2 py-1 fw-semibold text-uppercase text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
									Paid - {{ sell.payment_status }}
								</small>
								{% endif %}
							</td>

							<td style="width: 12%">
								{{ sell.pub_date.strftime('%d %b, %Y') }}
							</td>

							<td>
								<a class="btn btn-sm btn-dark"
									href="{{ url_for('dashboard.view_sell', invoiceid=sell.invoiceid) }}">
									Details
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% else %}
			<h5>
				No product sells yet.
				<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
					data-bs-target="#dailysellModal">
					<i class="bx bx-plus"></i>
					New Sell
				</button>
			</h5>
			{% endif %}
		</main>
	</div>
</div>


<!-- <script>
	let error = document.querySelector('.invalid-feedback');
	if (error) {
		alert("Failed, check the form again")
	}
</script> -->

{% for js_file in datatable_js %}
<script src="{{ url_for('static', filename=js_file) }}"></script>
{% endfor %}

<script>
	document.addEventListener('DOMContentLoaded', () => {
		let table = new DataTable('#invoicetable', {
			order: [[0, 'desc']]
		});

		let counter = 1;
		const serialnos = document.querySelectorAll('.counters');
		serialnos.forEach(serial => {
			serial.innerText = counter;
			counter++;
		});

		let paymentSelect = document.getElementById('filterpayment');

		paymentSelect.addEventListener('change', function () {
			let paymentvalue = paymentSelect.value;

			table.search('').columns().search('');

			if (paymentvalue !== '') {
				table.column('4').search(paymentvalue).draw();
			} else {
				table.search('').draw();
			}
		});
			
		const numberWithCommas = (x) => {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}

		// ALL SELL CONTAINER
		let today = document.querySelector('#today');
		let allprices = document.querySelectorAll('.totalprices');
		let stock = document.querySelector('#stock');
		let totalselleproduct = document.querySelector('#totalsellproduct');
		let current_month_selleproduct = document.querySelector('#currentMonthSelledProduct');


		// GET ALL SELL INFO
		fetch(`${window.origin}/api/allsell/info/get/`, {
			method: "POST",
		}).then((response) => {
			if (response.status !== 200) {
				alert(`Something went wrong! Reload the page. Status: ${response.status}`);
				return;
			}

			response.json().then((data) => {
				// ADDING COMMA TO TOTAL EARNING
				stock.innerText = numberWithCommas(data.stock);
				totalselleproduct.innerText = numberWithCommas(data.totalselledproduct);
				today.innerText = data.todaydate
			});
		});

		// GET THIS MONTH SELL INFO 
		fetch(`${window.origin}/api/sell/currentmonth/info/get/`, {
			method: "POST",
		}).then((response) => {
			if (response.status !== 200) {
				alert(`Something went wrong! Reload the page. Status: ${response.status}`);
				return;
			}

			response.json().then((data) => {
				current_month_selleproduct.innerText = numberWithCommas(data.totalsellproduct);
			});
		});

		// ADDING COMMA TO ALL PRICE
		allprices.forEach((price) => {
			let pricevalue = price.innerText;
			let pricewithcomma = numberWithCommas(pricevalue)

			price.innerText = pricewithcomma
		})
	})

</script>

<!-- <script>
	// SEARCH INVOICE
	const searchInput = document.getElementById('searchInvoice');

	searchInput.addEventListener('input', (e) => {
		const searchValue = e.target.value;

		// Make a fetch request to your endpoint
		fetch(`/dashboard/search-invoice?q=${searchValue}`)
			.then(response => response.json())
			.then(data => {
				// Get the tbody element
				const tbody = document.querySelector("tbody")

				// Clear the existing rows
				tbody.innerHTML = ""

				// Check if there are any products
				if (data.length) {
					// Loop through the products
					for (let invoice of data) {
						// Create a new row
						const row = document.createElement("tr")

						let producturl = `${window.location.origin}/dashboard/sell/${invoice.invoice_id}/`
						let paymentstat = invoice.payment_status

						// Add the product information to the row
						row.innerHTML = `<td>${invoice.id}</td>
										<td>${invoice.selled_products}</td>
										<td>${invoice.invoice_id}</td>
										
										<td>
											<small
												class="fs-6 d-inline-flex px-2 py-1 fw-lighter text-dark bg-dark bg-opacity-10 border border-dark border-opacity-10 rounded-2 totalprices">
												${invoice.totalprice}
											</small>
										</td>
										<td>
											<small
												class="d-inline-flex px-2 py-1 fw-semibold text-uppercase  ${invoice.payment_status == 'pending' ? 'text-warning bg-warning bg-gradient bg-opacity-10 border border-warning border-opacity-10 rounded-2' : 'text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2'}">
												${invoice.payment_status == 'pending' ? 'pending' : 'paid - ' + invoice.payment_status}
											</small>
										</td>

										<td>${invoice.pub_date}</td>
										<td>
											<a class="btn btn-sm btn-dark" href="${producturl}" role="button">Details</a>
										</td>`

						// Add the row to the table
						tbody.appendChild(row)
					}
				} else {
					// Show an error message
					tbody.innerHTML = "<tr><td colspan='7' class='text-center fs-5'>Product not found</td></tr>"
				}
			})
	});
</script> -->
{% endblock %}