{% extends 'layouts/root-dashboard.html' %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		BM Gadget & Tech
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" disabled />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div id="loader-container"></div>
			<div>
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">New Sell</h1>
					<h5>
						Invoice No:
						<spann id="newinvoiceid"> {{ newinvoiceID }} </span>
					</h5>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="d-grid gap-2 d-md-block">
							<!-- <button class="btn btn-primary">
								Print
							</button> -->
							<button class="btn btn-dark" id="sellcompletebtn">
								Complete
							</button>
						</div>
					</div>
				</div>

				<form id="form-customer-info">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="col-md-4 mb-3">
							{{ form.customer_name.label(class="form-label") }}

							{% if form.customer_name.errors %}
							{{ form.customer_name(
									class="form-select text-uppercase is-invalid",
									placeholder="Customer Name",
									id="selectcustomer"
								) }}
							<div class="invalid-feedback">
								{% for error in form.customer_name.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.customer_name(
									class="form-select text-uppercase",
									placeholder="Customer Name",
									id="selectcustomer"
								) }}
							{% endif %}
						</div>

						<div class="col-md-4 mb-3">
							{{ form.payment_status.label(class="form-label") }}

							{% if form.payment_status.errors %}
							{{ form.payment_status(
								class="form-select text-uppercase is-invalid"
							) }}
							<div class="invalid-feedback">
								{% for error in form.payment_status.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.payment_status(
								class="form-select text-uppercase"
							) }}
							{% endif %}
						</div>

						<div class="col-md-4 mb-3">
							<div class="form-group">
								<label class="form-label">Date and Time</label>
								<input type="datetime-local" class="form-control" id="sell-datetime" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-5 mb-3">
							{{ form.note.label() }}

							{% if form.note.errors %}
							{{ form.note(
								class="form-select text-uppercase is-invalid"
							) }}
							<div class="invalid-feedback">
								{% for error in form.note.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.note(
								class="form-select text-uppercase"
							) }}
							{% endif %}
						</div>

						<div class="col-md-5 mb-3 ms-auto">
							{{ form.trnx_id.label(class="form-label") }}

							{% if form.trnx_id.errors %}
							{{ form.trnx_id(
								class="form-select text-uppercase is-invalid",
								placeholder="TRXXX ID"
							) }}
							<div class="invalid-feedback">
								{% for error in form.trnx_id.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.trnx_id(
								class="form-select text-uppercase",
								placeholder='TRXXX ID'
							) }}
							{% endif %}
						</div>
					</div>
				</form>
			</div>

			<!-- NEW SELL -->
			<div class="row">
				<section class="col-md-4">
					<form id="form">
						<div class="mb-3">
							<!-- <label class="form-label">Product Name</label>
							<input type="text" required name="productname" id="productname" class="form-control"
								value="Huawei P30"> -->
							{% if form.product_name.errors %}
							{{ form.product_name(
								class="form-select text-uppercase is-invalid",
								placeholder="Product Name",
								id="selectproduct"
							) }}
							<div class="invalid-feedback">
								{% for error in form.product_name.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.product_name(
								class="form-select text-uppercase",
								placeholder="Product Name",
								id="selectproduct"
							) }}
							{% endif %}
						</div>

						<div class="mb-3">
							<label class="form-label">Product ID</label>
							<input type="text" required name="productname" id="productid" class="form-control"
								placeholder="PRODUCT-ID" readonly>
						</div>

						<div class="mb-3">
							<label class="form-label">Price</label>
							<input type="number" step="any" required name="price" placeholder="00" id="productprice"
								class="form-control" readonly>
						</div>

						<div class="mb-3">
							<label class="form-label">Quantity (Stock: <span id="displaystock">00</span>)</label>
							<input type="number" required name="quantity" id="quantity" class="form-control">
						</div>

						<button class="btn btn-sm btn-dark" id="addCartButton">Submit</button>
					</form>
				</section>

				<section class="col-md-8">
					<form id="orderForm">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Product Name</th>
									<th scope="col">Product ID</th>
									<th scope="col">Unit Price</th>
									<th scope="col">Unit</th>
									<th scope="col">Total</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody id="carttable">

							</tbody>
						</table>

						<div class="d-flex justify-content-between">
							<div>
								<p>
									In Words:
									<span id="countprice">......</span>
								</p>
							</div>
							<table class="ms-auto">
								<tr>
									<th>
										<p class="m-auto me-2">Sub Total Ammount</p>
									</th>
									<td>
										<input type="number" required name="subtotal" id="subtotal"
											class="col form-control" value="00">
									</td>
								</tr>
								<tr>
									<th>
										<p class="m-auto me-2">Discount</p>
									</th>
									<td>
										<input type="number" required name="discount" id="discount"
											class="col form-control" value="00">
									</td>
								</tr>
								<tr>
									<th>
										<p class="m-auto me-2">Total Ammount</p>
									</th>
									<td>
										<input type="number" required name="totalammount" id="totalammount"
											class="col form-control" value="00">
									</td>
								</tr>
							</table>
						</div>
					</form>
				</section>
			</div>

		</main>
	</div>
</div>


<!-- <script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script> -->

<script src="{{ url_for('static', filename='js/dselect.js') }}"></script>
<script>
	const searchproduct = document.querySelector("#selectproduct");
	dselect(searchproduct, {
		search: true,
	});
</script>

<script src="{{ url_for('static', filename='js/numberToWords.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/newsell.js') }}"></script>

{% endblock %}