{% extends 'layouts/root-dashboard.html' %} {% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		BM Gadget & Tech
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Products</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group me-2">
						<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
							data-bs-target="#addProduct">
							<i class="bx bx-plus"></i>
							Add Products
						</button>
						<!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                        >
                            Export
                        </button> -->
					</div>
				</div>
			</div>

			<!-- add products modal -->
			<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="AddProductModalLabel"
				aria-hidden="true">
				<form method="POST" action="" enctype="multipart/form-data">
					{{ form.hidden_tag() }}
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content rounded-4 shadow">
							<div class="modal-header border-bottom-0">
								<h5 class="modal-title" id="exampleModalLabel">
									Add Product
								</h5>

								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body py-0">
								<div class="row">
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-3">
											{% if form.product_name.errors %}
											{{ form.product_name(
												class="form-control is-invalid",
												placeholder="Product Name"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_name.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_name(
												class="form-control",
												placeholder="Product Name"
											) }}
											{% endif %}

											{{ form.product_name.label(class="form-control-label") }}
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-floating mb-3">
											{% if form.product_id.errors %}
											{{ form.product_id(
												class="form-control is-invalid",
												placeholder="Product Description"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_id.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_id(
													class="form-control",
													placeholder="Product Description"
												) }}
											{% endif %}

											{{ form.product_id.label(class="form-control-label") }}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-floating mb-3">
											{% if form.product_price.errors %}
											{{ form.product_price(
												class="form-control is-invalid",
												placeholder="Product Price"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_price.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_price(
													class="form-control",
													placeholder="Product Price"
												) }}
											{% endif %}

											{{ form.product_price.label(class="form-control-label") }}
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-floating mb-3">
											{% if form.product_quantity.errors %}
											{{ form.product_quantity(
												class="form-control is-invalid",
												placeholder="Product Quantity"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_quantity.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_quantity(
													class="form-control",
													placeholder="Product Quantity"
												) }}
											{% endif %}

											{{ form.product_quantity.label(class="form-control-label") }}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="form-floating mb-3">
											{% if form.product_description.errors %}
											{{ form.product_description(
												class="form-control is-invalid",
												placeholder="Product Description",
												style="height: 100px"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_description.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_description(
													class="form-control",
													placeholder="Product Description",
													style="height: 100px",
												) }}
											{% endif %}

											{{ form.product_description.label(class="form-control-label") }}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-floating py-5">
											{{ form.product_brand.label() }}

											{% if form.product_brand.errors %}
											{{ form.product_brand(
												class="form-select is-invalid",
												placeholder="Product Brand",
												id="selectbrand"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_brand.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_brand(
													class="form-select",
													placeholder="Product Brand",
													id="selectbrand"
												) }}
											{% endif %}
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-floating py-5">
											{{ form.product_category.label() }}

											{% if form.product_category.errors %}
											{{ form.product_category(
												class="form-select is-invalid",
												placeholder="Product Category",
												id="selectcategory"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_category.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_category(
													class="form-select",
													placeholder="Product Category",
													id="selectcategory"
												) }}
											{% endif %}
										</div>
									</div>

									<div class="col-md-4">
										<div class="py-3">
											{{ form.product_available.label(class="form-label") }}

											{% if form.product_available.errors %}
											{{ form.product_available(
												class="form-select is-invalid",
												placeholder="Product Available?"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_available.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_available(
													class="form-select",
													placeholder="Product Available?"
												) }}
											{% endif %}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="input-group mb-3">

											{{ form.product_image.label(class="input-group-text") }}

											{% if form.product_image.errors %}
											{{ form.product_image(
												class="form-control is-invalid",
												placeholder="Product Image"
											) }}
											<div class="invalid-feedback">
												{% for error in form.product_image.errors %}
												<span>{{ error }}</span>
												{% endfor %}
											</div>
											{% else %}
											{{ form.product_image(
													class="form-control",
													placeholder="Product Image"
												) }}
											{% endif %}

										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								{{ form.submit(class="btn btn-lg btn-primary w-100 mx-0 mb-2") }}
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- end of add product modal -->

			<!-- SUMMERY OF PRODUCTS -->
			<div class="container">
				<div class="row gap-2 mb-5">
					<div class="col-lg-3">
						<div class="border summery__box bg__papayawhip p-2">
							<h3 class="summery__box-title fs-1 fw-bolder">
								{{ products|length }}
							</h3>
							<p class="summery__subtitle">Total Product</p>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="border summery__box bg__anakiwa p-2">
							<h3 class="summery__box-title fs-1 fw-bolder">
								{{ brands|length }}
							</h3>
							<p class="summery__subtitle">Total Brand</p>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="border summery__box bg__mintgreen p-2">
							<h3 class="summery__box-title fs-1 fw-bolder">
								{{ categories|length }}
							</h3>
							<p class="summery__subtitle">Total Category</p>
						</div>
					</div>
				</div>
			</div>

			<!-- PRODUCTS DETAILS -->
			<h2>All Products</h2>
			<hr />
			{% if existingproduct %}
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col" width="100">#</th>
							<th scope="col">Product ID</th>
							<th scope="col">ProductName</th>
							<th scope="col">Price <small>(Taka)</small> </th>
							<th scope="col">Brand</th>
							<th scope="col">Product Image</th>
							<th scope="col">Action</th>
						</tr>
					</thead>

					<tbody>
						{% for product in existingproduct %}
						<tr class="align-middle">
							<td style="width: 5%;" class="counters">{{ product.id }}</td>
							<td>{{ product.productid }}</td>
							<td style="width: 50%">{{ product.name }}</td>
							<td>
								<small
									class="fs-6 d-inline-flex m-2 px-2 py-1 fw-lighter text-dark bg-dark bg-opacity-10 border border-dark border-opacity-10 rounded-2">
									{{ product.price }}
								</small>
							</td>
							<td>{{ product.brand.name }}</td>
							<td>
								<img src="{{ url_for('static', filename='productimages/' + product.image1) }}" alt=""
									class="img-fluid avatar__logo" />
							</td>
							<td>
								<a class="btn btn-sm btn-dark" data-bs-toggle="modal"
									href="#deleteModalToggle{{product.id}}" role="button">
									Details
								</a>

								<!-- NEW DOUBLE MODAL DELETE PRODUCT -->
								<div class="modal fade modal-lg" id="deleteModalToggle{{product.id}}" aria-hidden="true"
									aria-labelledby="deleteModalToggle{{product.id}}Label" tabindex="-1">
									<div class="modal-dialog modal-dialog-centered">

										<div class="modal-content">

											<div class="modal-header">
												<h1 class="modal-title fs-5" id="deleteModalToggle{{product.id}}Label">
													{{ product.name }} Details
												</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>

											<div class="modal-body">
												<div class="table-responsive">
													<table class="table table-bordered table-striped table-hover">
														<tbody>
															<tr>
																<th style="width: 20%;">
																	Product ID
																</th>
																<td>
																	{{ product.productid }}
																</td>
															</tr>
															<tr>
																<th>Product Name</th>
																<td>{{ product.name }}</td>
															</tr>
															<tr>
																<th>Product Details</th>
																<td>{{ product.description }}</td>
															</tr>
															<tr>
																<th>Brand</th>
																<td>{{ product.brand.name }}</td>
															</tr>
															<tr>
																<th>Category</th>
																<td>{{ product.category.name }}</td>
															</tr>
															<tr>
																<th>Price <small>(Taka)</small></th>
																<td
																	class="fs-5 d-inline-flex m-2 px-2 py-1 fw-lighter text-dark bg-dark bg-opacity-10 border border-dark border-opacity-10 rounded-2">
																	{{ product.price }} Taka
																</td>
															</tr>
															<tr>
																<th>Stock</th>
																<td>
																	{{ product.stock }}

																	{% if product.available_status == 'yes' %}
																	<span
																		class="d-inline-flex px-2 ms-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
																		<small>Available</small>
																	</span>
																	{% else %}
																	<span
																		class="d-inline-flex px-2 ms-2 py-1 fw-semibold text-danger bg-danger bg-opacity-10 border border-danger border-opacity-10 rounded-2">
																		<small>Not available</small>
																	</span>
																	{% endif %}

																</td>
															</tr>
															{% if product.colors %}
															<tr>
																<th>Colors</th>
																<td> {{ product.colors }} </td>
															</tr>
															{% endif %}
															<tr>
																<th>Last updated</th>
																<td> {{ product.pub_date.strftime('%d %b, %Y') }} </td>
															</tr>
															<tr>
																<th>Prodcut Images</th>
																<td class="text-center">
																	<img src="{{ url_for('static', filename='productimages/' + product.image1) }}"
																		alt="" class="img-fluid" style="width: 60%;" />
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="modal-footer">
												<div class="d-grid gap-2 d-md-flex justify-content-md-end">

													<button class="btn btn-sm m-1 btn-danger me-md-2"
														data-bs-target="#deleteConfirmModalToggle{{product.id}}"
														data-bs-toggle="modal">
														Delete Product
													</button>
													<a href="{{ url_for('dashboard.edit_product', product_id=product.id) }}"
														class="btn btn-sm m-1 btn-primary me-md-2">
														Edit Product
													</a>
													<button class="btn btn-sm m-1 btn-dark" data-bs-dismiss="modal"
														aria-label="Close">
														Cancel
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- DELTE CONFIRM MODAL -->
								<div class="modal fade modal-md" id="deleteConfirmModalToggle{{product.id}}"
									aria-hidden="true" aria-labelledby="deleteConfirmModalToggle{{product.id}}Label"
									tabindex="-1">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<h3 class="modal-title fs-5"
													id="deleteConfirmModalToggle{{product.id}}Label">
													Are you sure you want to delete the Product?
												</h3>
											</div>
											<div class="modal-footer">
												<button class="btn btn-sm btn-dark" data-bs-target="#exampleModalToggle"
													data-bs-toggle="modal">
													Cancel
												</button>
												<form
													action="{{ url_for('dashboard.delete_product', product_id=product.id) }}"
													method="POST">
													<input type="submit" class="btn btn-danger btn-sm m-1"
														value="Delete Product" />
												</form>
											</div>
										</div>
									</div>
								</div>


							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<h5>
				No product added yet.
				<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
					data-bs-target="#addProduct">
					<i class="bx bx-plus"></i>
					Add Products
				</button>
			</h5>
			{% endif %}
		</main>
	</div>
</div>

<script>
	let error = document.querySelector('.invalid-feedback');
	let buttonaddproduct = document.querySelector(".btn.btn-sm.btn-outline-secondary")
	if (error) {
		alert('Product not saved. Something went wrong! Please reload and try again')
		document.addEventListener('DOMContentLoaded', () => {
			buttonaddproduct.click();
		})
	}
</script>

<script src="{{ url_for('static', filename='js/dselect.js') }}"></script>

<script>
	const searchbrand = document.querySelector("#selectbrand");
	const selectcategory = document.querySelector("#selectcategory");
	dselect(searchbrand, {
		search: true,
	});
	dselect(selectcategory, {
		search: true,
	});
</script>

<script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	console.log(serialnos);
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script>

{% endblock %}