{% extends 'layouts/root-dashboard.html' %}

{% block head %}
{% for css_file in datatable_css %}
<link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}">
{% endfor %}
{% endblock %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		{{ shopname }}
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" disabled />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Report</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<!-- <div class="btn-group me-2">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#categoryModal">
							<i class="bx bx-plus"></i>
							Print
						</button>
					</div> -->
				</div>
			</div>

			<form id="report-form" action="/dashboard/report/">
				<div class="row align-items-center">
					<div class="col-md-3 mb-3">
						<label for="start-date">Start Date:</label>
						<input type="date" id="start-date" name="start-date" class="form-control" required>
					</div>
					<div class="col-md-3 mb-3">
						<label for="end-date">End Date:</label>
						<input type="date" id="end-date" name="end-date" class="form-control" required>
					</div>
					<div class="col-md-3 mb-3">
						<label for="filter">Filter:</label>
						<select id="filter" name="filter" class="form-select">
							<option value="all">All Invoices</option>
							<option value="pending">Pending Invoices</option>
							<option value="paid">Paid Invoices</option>
							<option value="products">Products</option>
						</select>
					</div>
					<div class="col-md-3 align-self-end mb-3">
						<input type="submit" class="btn btn-dark" value="Generate Report">
					</div>
				</div>
			</form>

			<div class="row py-4" id="report-total-container"></div>

			<!-- <div>
				<table id="report-table" class="display" style="width:100%">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Invoice ID</th>
							<th>Customer</th>
							<th>Total Price</th>
						</tr>
					</thead>
				</table>
			</div> -->

			<div id="report-table"></div>
			
		</main>
	</div>
</div>

{% for js_file in datatable_js %}
<script src="{{ url_for('static', filename=js_file) }}"></script>
{% endfor %}
<script>
	const numberWithCommas = (x) => {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	// document.getElementById("report-form").addEventListener("submit", (e) => {
    // e.preventDefault();
    // console.log("Generating report...");

    // let data = {
    //     startDate: $('#start-date').val(),
    //     endDate: $('#end-date').val(),
    //     filter: $('#filter').val()
    // };

    // console.log("Data: ", data);

    // $.ajax({
    //     url: '/dashboard/report/submit/',
    //     type: 'POST',
    //     contentType: 'application/json',
		
    //     data: JSON.stringify(data),
		
    //     success: function (response) {
    //         // console.log("Response: ", response);

			
	// 		if (response.invoices) {
	// 			console.log("Response: ", response.invoices);
	// 			$('#report-table').DataTable({
	// 				"data": data,
	// 				"columns": [
	// 					{ "data": 'customer_name' },
	// 					{ "data": 'id' },
	// 					{ "data": 'invoice_id' },
	// 					{ "data": 'pub_date' },
	// 					{ "data": 'totalprice' },
	// 				],
	// 			});
	// 		} 
			
	// 		if (response.products) {
	// 			alert("Response: ", response.products);
	// 		}

			// $('#report-table').DataTable({
			// 	columns: [
			// 		{ data: 'id' },
			// 		{ data: 'hr.position' },
			// 		{ data: 'contact.0' },
			// 		{ data: 'contact.1' },
			// 		{ data: 'hr.start_date' },
			// 		{ data: 'hr.salary' },
			// 	],
			// });

            // // ADD CODE HERE TO POPULATE THE DATA TABLE WITH THE RESPONSE
            // let dataTable = $('#report-table').DataTable();

            // // Clear existing data from the table
            // dataTable.clear().draw();

            // // Populate the table with the new data
            // $.each(response.invoices, function (index, invoice) {
            //     dataTable.row.add([
            //         invoice.id,
            //         invoice.pub_date,
            //         invoice.totalprice,
            //         invoice.payment_status,
            //         '<a href="/dashboard/report/invoice/' + invoice.id + '/" class="btn btn-sm btn-primary">View Invoice</a>'
            //     ]).draw();
            // });

            // Update the total profit and total pending fields
            // $('#total-profit').text(response.total_profit);
            // $('#total-pending').text(response.total_pending);
            // $('#total-products').text(response.total_quantity);

            // // If the filter option was "products", update the table headers
            // if (data.filter === "products") {
            //     dataTable.columns([0, 1, 2, 3]).visible(false);
            //     dataTable.columns([4]).header().text("Product");
            // } else {
            //     dataTable.columns([0, 1, 2, 3]).visible(true);
            //     dataTable.columns([4]).header().text("Action");
            // }

    //     },
    //     error: function (xhr, status, error) {
    //         console.error(error);
    //     }
    // });
// });




	// document.getElementById("report-form").addEventListener("submit", (e) => {
	// 	e.preventDefault();
	// 	$('#report-table').DataTable({
	// 		ajax: {
	// 			url: '/dashboard/report/submit/',
	// 			dataSrc: function (data) {
	// 				// transform data to match DataTables expected format
	// 				let transformedData = [];
	// 				if (data.filter === 'products') {
	// 					data.products.forEach(function (product, index) {
	// 						transformedData.push([
	// 							index + 1,
	// 							product.productid,
	// 							product.productname,
	// 							product.quantity
	// 						]);
	// 					});
	// 				} else {
	// 					data.invoices.forEach(function (invoice, index) {
	// 						transformedData.push([
	// 							index + 1,
	// 							invoice.pub_date,
	// 							invoice.invoice_id,
	// 							invoice.customer_name,
	// 							invoice.totalprice,
	// 							invoice.payment_status,
	// 							'<a class="btn btn-sm btn-outline-dark" href="' + window.origin + '/dashboard/sell/' + invoice.invoice_id + '/">Details</a>'
	// 						]);
	// 					});
	// 				}
	// 				return transformedData;
	// 			},
	// 			data: function (d) {
	// 				// set parameters to send to server
	// 				d.startDate = $('#start-date').val();
	// 				d.endDate = $('#end-date').val();
	// 				d.filter = $('#filter').val();
	// 			},
	// 			type: 'POST',
	// 			dataType: 'json'
	// 		},
	// 		columns: [
	// 			{ title: '#' },
	// 			{ title: 'Product ID' },
	// 			{ title: 'Product Name' },
	// 			{ title: 'Quantity' },
	// 			{ title: 'Date' },
	// 			{ title: 'Invoice ID' },
	// 			{ title: 'Customer Name' },
	// 			{ title: 'Total Amount' },
	// 			{ title: 'Payment Status' },
	// 			{ title: 'Details' }
	// 		]
	// 	});
	// });

	document.getElementById("report-form").addEventListener("submit", (e) => {
		e.preventDefault();
		let startDate = document.getElementById("start-date").value;
		let endDate = document.getElementById("end-date").value;
		let filter = document.getElementById("filter").value;

		fetch(`${window.origin}/dashboard/report/submit/`, {
			method: "POST",
			credentials: "include",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				startDate,
				endDate,
				filter
			}),
		}).then((response) => {
			if (response.status !== 200) {
				console.log(`Something went wrong! Reload the page. Status: ${response.status}`);
				return;
			}


			response.json().then((data) => {
				console.log(data);
				let reportTable = document.getElementById("report-table");
				let reportTotalContainer = document.querySelector('#report-total-container');
				let table = "";
				if (filter === "products") {
					let index = 1;
					table += `<table class="table table-hover table-bordered table-striped table-sm"> 
						<tr> 
							<th>#</th>
							<th>Product ID</th>
							<th>Product Name</th> 
							<th>Quantity</th>
						</tr>`;
					data.products.forEach((product) => {
						table += `<tr> 
									<td>${index++}</td> 
									<td>${product.productid}</td> 
									<td>${product.productname}</td> 
									<td>${product.quantity}</td> 
								</tr>`;
					});
					table += `</table>`;
					if (data.total_quantity || data.total_quantity === 0) {
						let reportTotal = `<div class="col">
												<h3 class="fs-4">Total Product Sold: ${numberWithCommas(data.total_quantity)}</h3>
											</div>`;
						reportTotalContainer.innerHTML = reportTotal;
					}
				} else {
					let index = 1;
					table += `<table class="table table-hover table-bordered table-striped table-sm"> 
								<tr> 
									<th>#</th>
									<th> Date </th> 
									<th> Invoice ID </th> 
									<th>Customer Name</th> 
									<th> Total Amount </th> 
									<th>Payment Status</th> 
									<th>Details</th> 
								</tr>`;
					data.invoices.forEach((invoice) => {
						table += `<tr> 
									<td>${index++}</td> 
									<td>${invoice.pub_date}</td> 
									<td>${invoice.invoice_id}</td> 
									<td>${invoice.customer_name} </td> 
									<td>${invoice.totalprice}</td> 
									<td>${invoice.payment_status}</td> 
									<td> 
										<a class="btn btn-sm btn-outline-dark" href="${window.origin}/dashboard/sell/${invoice.invoice_id}/">
											Details
										</a> 
									</td> 
								</tr>`;
					});
					table += `</table>`;
				}
				reportTable.innerHTML = table;
				if (data.total_profit || data.total_profit === 0 || data.total_pending || data.total_pending === 0) {
					let reportTotal = `<div class="col">
												<h3 class="fs-4">
													Total Profit: ${numberWithCommas(data.total_profit)}
													<small>tk</small>
												</h3>
											</div>
											<div class="col">
												<h3 class="fs-4">
													Total Pending: ${numberWithCommas(data.total_pending)}
													<small>tk</small>	
												</h3>
											</div>`;
					reportTotalContainer.innerHTML = reportTotal;
				}
			});
		});
	});
</script>
{% endblock %}