{% extends 'layouts/root-dashboard.html' %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		{{ shopname }}
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" disabled />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Report</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<!-- <div class="btn-group me-2">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#categoryModal">
							<i class="bx bx-plus"></i>
							Print
						</button>
					</div> -->
				</div>
			</div>

			<form id="report-form" action="/dashboard/report/">
				<div class="row align-items-center">
					<div class="col-md-3 mb-3">
						<label for="start-date">Start Date:</label>
						<input type="date" id="start-date" name="start-date" class="form-control" required>
					</div>
					<div class="col-md-3 mb-3">
						<label for="end-date">End Date:</label>
						<input type="date" id="end-date" name="end-date" class="form-control" required>
					</div>
					<div class="col-md-3 mb-3">
						<label for="filter">Filter:</label>
						<select id="filter" name="filter" class="form-select">
							<option value="all">All Invoices</option>
							<option value="pending">Pending Invoices</option>
							<option value="non-pending">Paid Invoices</option>
							<option value="products">Products</option>
						</select>
					</div>
					<div class="col-md-3 align-self-end mb-3">
						<input type="submit" class="btn btn-dark" value="Generate Report">
					</div>
				</div>
			</form>

			<div class="row py-4" id="report-total-container"></div>

			<div id="report-table"></div>

		</main>
	</div>
</div>


<script>
	const numberWithCommas = (x) => {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	document.getElementById("report-form").addEventListener("submit", (e) => {
		e.preventDefault();
		let startDate = document.getElementById("start-date").value;
		let endDate = document.getElementById("end-date").value;
		let filter = document.getElementById("filter").value;

		fetch(`${window.origin}/dashboard/report/submit/`, {
			method: "POST",
			credentials: "include",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				startDate,
				endDate,
				filter
			}),
		}).then((response) => {
			if (response.status !== 200) {
				console.log(`Something went wrong! Reload the page. Status: ${response.status}`);
				return;
			}


			response.json().then((data) => {
				let reportTable = document.getElementById("report-table");
				let reportTotalContainer = document.querySelector('#report-total-container');
				let table = "";
				if (filter === "products") {
					let index = 1;
					table += `<table class="table table-hover table-bordered table-striped table-sm"> 
						<tr> 
							<th>#</th>
							<th>Product ID</th>
							<th>Product Name</th> 
							<th>Quantity</th>
						</tr>`;
					data.products.forEach((product) => {
						table += `<tr> 
									<td>${index++}</td> 
									<td>${product.productid}</td> 
									<td>${product.productname}</td> 
									<td>${product.quantity}</td> 
								</tr>`;
					});
					table += `</table>`;
					if (data.total_quantity || data.total_quantity === 0) {
						let reportTotal = `<div class="col">
												<h3 class="fs-4">Total Product Sold: ${numberWithCommas(data.total_quantity)}</h3>
											</div>`;
						reportTotalContainer.innerHTML = reportTotal;
					}
				} else {
					let index = 1;
					table += `<table class="table table-hover table-bordered table-striped table-sm"> 
								<tr> 
									<th>#</th>
									<th> Date </th> 
									<th> Invoice ID </th> 
									<th>Customer Name</th> 
									<th> Total Amount </th> 
									<th>Payment Status</th> 
									<th>Details</th> 
								</tr>`;
					data.invoices.forEach((invoice) => {
						table += `<tr> 
									<td>${index++}</td> 
									<td>${invoice.pub_date}</td> 
									<td>${invoice.invoice_id}</td> 
									<td>${invoice.customer_name} </td> 
									<td>${invoice.totalprice}</td> 
									<td>${invoice.payment_status}</td> 
									<td> 
										<a class="btn btn-sm btn-outline-dark" href="${window.origin}/dashboard/sell/${invoice.invoice_id}/">
											Details
										</a> 
									</td> 
								</tr>`;
					});
					table += `</table>`;
				}
				reportTable.innerHTML = table;
				if (data.total_profit || data.total_profit === 0 || data.total_pending || data.total_pending === 0) {
					let reportTotal = `<div class="col">
												<h3 class="fs-4">
													Total Profit: ${numberWithCommas(data.total_profit)}
													<small>tk</small>
												</h3>
											</div>
											<div class="col">
												<h3 class="fs-4">
													Total Pending: ${numberWithCommas(data.total_pending)}
													<small>tk</small>	
												</h3>
											</div>`;
					reportTotalContainer.innerHTML = reportTotal;
				}
			});
		});
	});
</script>
{% endblock %}