{% extends 'layouts/root-dashboard.html' %}


{% block head %}
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		{{ shopname }}
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" disabled />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="bill">
			<div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Invoice: <span id="invoiceid">{{ sell.invoiceid }}</span></h1>

				<div>
					<a class="btn btn-dark" href="{{ url_for('dashboard.print_pos_sell', invoiceid=sell.invoiceid) }}">POS Print</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 invoicedetails">
					<div class="my-2">
						<b>Customer Name: </b>
						<span id="customername">
							{{ customer.customer_name }}
						</span>
					</div>
					<div class="my-2">
						<b>Phone: </b>
						<span>
							{{ customer.customer_contact_number }}
						</span>
					</div>
					<div class="my-2">
						<b>Address: </b>
						<span>
							{{ customer.customer_address }}
						</span>
					</div>
					<div class="my-2">
						<b>Note: </b>
						<span>
							{{ sell.note }}
						</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="my-2">
						<b>Date: </b>
						<span>
							{{ sell.pub_date.strftime('%I:%M %p - %d %b, %Y') }}
						</span>
					</div>
					<div class="my-2">
						<b>Billed by: </b>
						<span id="billedby">
							{{ user.username }}
						</span>
					</div>
					<div>
						<b>Payment Status: </b>
						<select id="payment_status" name="payment_status">
							<option value="cash" {% if sell.payment_status=='cash' %}selected{% endif %}>cash</option>
							<option value="card" {% if sell.payment_status=='card' %}selected{% endif %}>card
							</option>
							<option value="bkash/nagad" {% if sell.payment_status=='bkash/nagad' %}selected{% endif %}>
								bkash/nagad</option>
							<option value="pending" {% if sell.payment_status=='pending' %}selected{% endif %}>Pending
							</option>
						</select>
						<button class="btn btn-sm btn-primary ms-2" id="savePaymentStatus">Save</button>
					</div>

					<!-- UPDATE PAYMENT STATUS TO SERVER -->
					<script>
						let invoice_id = document.querySelector('#invoiceid').innerText;
						const updatePaymentStatus = async () => {
							try {
								const response = await fetch(`/api/sell/update/payment/status/${invoice_id}`, {
									method: 'POST',
									headers: { 'Content-Type': 'application/json' },
									body: JSON.stringify({
										invoiceid: invoice_id,
										payment_status: document.getElementById('payment_status').value
									})
								}).then((response) => {
									if (response.status !== 200) {
										console.log(
											`Something went wrong! Reload the page. Status: ${response.status}`
										);
										return;
									}

									response.json().then((data) => {
										window.location.href = `${window.origin}/dashboard/`;
									});
								});
								// const data = await response.json();
								// if (data.success) {
								// 	document.getElementById('payment_status').value = '{{ sell.payment_status }}';
								// 	alert('Payment status updated successfully!');
								// }
							} catch (error) {
								console.error(error);
							}
						}

						// call the function and update the status
						document.getElementById('savePaymentStatus').addEventListener('click', updatePaymentStatus);

					</script>
					<p>
						<b>Transaction No: </b>
						{{ sell.trnx_id }}
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover" id="invoicetable">
							<thead>
								<th>#</th>
								<th>Product ID</th>
								<th>Product Name</th>
								<th>Unit</th>
								<th>Unit Price</th>
								<th>Total</th>
							</thead>
							<tbody>
								{% for product in products %}
								<tr>
									<td style="width: 5%;" class="counters">
										{{ product.id }}
									</td>
									<td style="width: 15%;">
										{{ product.productid }}
									</td>
									<td>
										{{ product.productname }}
									</td>
									<td style="width: 5%;">
										{{ product.quantity }}
									</td>
									<td style="width: 10%;">
										{{ product.price }}
									</td>
									<td style="width: 20%">
										{{ product.unittotal }}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

						<div class="d-flex justify-content-between">
							<div>
								<p>
									In Words:
									<span id="countprice">One Two Three</span>
								</p>
							</div>
							<table class="ms-auto" id="totalammount">
								<tr>
									<th>
										<p class="m-auto me-2">Sub Total Ammount</p>
									</th>
									<td>
										<input disabled id="subtotal" class="col form-control"
											value="{{ sell.subtotal }}">
									</td>
								</tr>
								<tr>
									<th>
										<p class="m-auto me-2">Discount</p>
									</th>
									<td>
										<input disabled id="discount" class="col form-control"
											value="{{ sell.discount }}">
									</td>
								</tr>
								<tr>
									<th>
										<p class="m-auto me-2">Total Ammount</p>
									</th>
									<td>
										<input disabled id="total" class="col form-control"
											value="{{ sell.totalprice }}">
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>


<script src="{{ url_for('static', filename='js/numberToWords.min.js') }}"></script>
<script>
	const numberWithCommas = (x) => {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	let subtotal = document.querySelector('#subtotal');
	let discount = document.querySelector('#discount');
	let total = document.querySelector('#total');

	let countprice = document.querySelector('#countprice');
	countprice.innerText = `${numberToWords.toWords(parseFloat(total.value)).toUpperCase()} Taka Only.`;

	// ADD COMMAS TO PIRCE
	subtotal.value = numberWithCommas(subtotal.value);
	discount.value = numberWithCommas(discount.value);
	total.value = numberWithCommas(total.value);
</script>

<script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	console.log(serialnos);
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script>

{% endblock %}   