{% extends 'layouts/root-dashboard.html' %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		BM Gadget & Tech
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Invoice: {{ sell.invoiceid }}</h1>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p>
						<b>Customer Name: </b>
						{{ customer.customer_name }}
					</p>
					<p>
						<b>Phone: </b>
						{{ customer.customer_contact_number }}
					</p>
					<p>
						<b>Address: </b>
						{{ customer.customer_address }}
					</p>
					<p>
						<b>Note: </b>
						{{ sell.note }}
					</p>
				</div>
				<div class="col-md-6">
					<p>
						<b>Date & Time: </b>
						{{ sell.pub_date.strftime('%I:%M:%S %p, %d %b, %Y') }}
					</p>
					<p>
						<b>Billed by: </b>
						{{ user.username }}
					</p>
					<p>
						<b>Payment Status: </b>
						{{ sell.payment_status }}
					</p>
					<p>
						<b>Transaction No: </b>
						{{ sell.trnx_id }}
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<th>#</th>
								<th>Product ID</th>
								<th>Product Name</th>
								<th>Unit</th>
								<th>Unit Price</th>
								<th>Total</th>
							</thead>
							<tbody>
								{% for product in products %}
								<tr>
									<td style="width: 5%;" class="counters">
										{{ product.id }}
									</td>
									<td style="width: 15%;">
										{{ product.productid }}
									</td>
									<td>
										{{ product.productname }}
									</td>
									<td style="width: 5%;">
										{{ product.quantity }}
									</td>
									<td style="width: 10%;">
										{{ product.price }}
									</td>
									<td style="width: 20%">
										{{ product.unittotal }}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

						<div class="d-flex justify-content-between">
							<div>
								<p>
									In Words:
									<span id="countprice">One Two Three</span>
								</p>
							</div>
							<table class="ms-auto">
								<tr>
									<th>
										<p class="m-auto me-2">Sub Total Ammount</p>
									</th>
									<td>
										<input disabled id="subtotal" class="col form-control"
											value="{{ sell.subtotal }}">
									</td>
								</tr>
								<tr>
									<th>
										<p class="m-auto me-2">Discount</p>
									</th>
									<td>
										<input disabled id="discount" class="col form-control"
											value="{{ sell.discount }}">
									</td>
								</tr>
								<tr>
									<th>
										<p class="m-auto me-2">Total Ammount</p>
									</th>
									<td>
										<input disabled id="total" class="col form-control"
											value="{{ sell.totalprice }}">
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>


<script src="{{ url_for('static', filename='js/numberToWords.min.js') }}"></script>
<script>
	const numberWithCommas = (x) => {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	let subtotal = document.querySelector('#subtotal');
	let discount = document.querySelector('#discount');
	let total = document.querySelector('#total');

	let countprice = document.querySelector('#countprice');
	countprice.innerText = `${numberToWords.toWords(parseFloat(total.value)).toUpperCase()} Taka Only.`;

	// ADD COMMAS TO PIRCE
	subtotal.value = numberWithCommas(subtotal.value);
	discount.value = numberWithCommas(discount.value);
	total.value = numberWithCommas(total.value);
</script>

<script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	console.log(serialnos);
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script>
{% endblock %}