{% extends 'layouts/root-dashboard.html' %}

<!-- body -->
{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
		BM Gadget & Tech
	</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
		data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
		aria-label="Search" />
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="{{ url_for('dashboard.user_logout') }}">Sign out </a>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<!-- navigation inject -->
		{% include 'helpers/_dashboard_side_nav.html' %}

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">
					Today's Sell
					(<span id="today">something went wrong. please reload</span>)
				</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group me-2">
						<a href="{{ url_for('dashboard.newsell') }}" class="btn btn-sm btn-outline-secondary">
							<i class="bx bx-plus"></i>
							New Sell
						</a>
					</div>
				</div>
			</div>

			<!-- SUMMERY OF PRODUCTS -->
			<div class="container">
				<div class="row gap-2 mb-5">
					<div class="col-lg-3">
						<div class="border summery__box bg__mintgreen p-2">
							<h3 id='totalsellprice' class="summery__box-title fs-1 fw-bolder">
								000
							</h3>
							<p class="summery__subtitle">Total TK Earning</p>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="border summery__box bg__goldenpoppy p-2">
							<h3 id="totalpendingprice" class="summery__box-title fs-1 fw-bolder">
								000
							</h3>
							<p class="summery__subtitle">Total TK Pending</p>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="border summery__box bg__anakiwa p-2">
							<h3 id="totalsellproduct" class="summery__box-title fs-1 fw-bolder">
								00
							</h3>
							<p class="summery__subtitle">
								Total Selled Product
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- PRODUCTS DETAILS -->
			<h2>All Sells</h2>
			<hr />
			{% if sells %}
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Products</th>
							<th scope="col">Invoice ID</th>
							<th scope="col">Total Price</th>
							<th scope="col">Payment</th>
							<th scope="col">Date</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for sell in sells %}
						<tr class="align-middle">
							<td class="text-center counters" style="width: 5%;">{{ sell.id }}</td>
							<td>
								{% for i in sell.selled_products %}
								{{ i.productname }},
								{% endfor %}
							</td>
							<td>{{ sell.invoiceid }}</td>
							<td>
								<small
									class="fs-6 d-inline-flex px-2 py-1 fw-lighter text-dark bg-dark bg-opacity-10 border border-dark border-opacity-10 rounded-2 totalprices">
									{{ sell.totalprice }}
								</small>
							</td>
							<td style="width: 5%;">
								{% if sell.payment_status == 'pending' %}
								<small
									class="d-inline-flex px-2 py-1 fw-semibold text-warning bg-warning bg-gradient bg-opacity-10 border border-success border-opacity-10 rounded-2">
									Pending
								</small>
								{% else %}
								<small
									class="text-uppercase d-inline-flex px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
									Paid - {{ sell.payment_status }}
								</small>
								{% endif %}
							</td>

							<td style="width: 12%">
								{{ sell.pub_date.strftime('%d %b, %Y') }}
							</td>

							<td>
								<a class="btn btn-sm btn-dark"
									href="{{ url_for('dashboard.view_sell', invoiceid=sell.invoiceid) }}">
									Details
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<h5>
				No product sells yet.
				<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
					data-bs-target="#dailysellModal">
					<i class="bx bx-plus"></i>
					New Sell
				</button>
			</h5>
			{% endif %}
		</main>
	</div>
</div>


<!-- <script>
	let error = document.querySelector('.invalid-feedback');
	if (error) {
		alert("Failed, check the form again")
	}
</script> -->

<script>
	let counter = 1;
	const serialnos = document.querySelectorAll('.counters');
	serialnos.forEach(serial => {
		serial.innerText = counter;
		counter++;
	});
</script>

<!-- ADD COMMA TO PRICE -->
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const numberWithCommas = (x) => {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}

		let today = document.querySelector('#today');
		let allprices = document.querySelectorAll('.totalprices');
		let totalsellprice = document.querySelector('#totalsellprice');
		let totalpendingprice = document.querySelector('#totalpendingprice');
		let totalsellproduct = document.querySelector('#totalsellproduct')

		fetch(`${window.origin}/api/todaysell/price/get/`, {
			method: "POST",
		}).then((response) => {
			if (response.status !== 200) {
				alert(`Something went wrong! Reload the page. Status: ${response.status}`);
				return;
			}

			response.json().then((data) => {
				console.log(data)
				// ADDING COMMA TO TOTAL EARNING
				totalsellprice.innerText = numberWithCommas(data.selledtk);
				totalpendingprice.innerText = numberWithCommas(data.pendingtk);
				today.innerText = data.todaydate
				totalsellproduct.innerText = data.totalsellproduct
			});
		});

		// ADDING COMMA TO ALL PRICE
		allprices.forEach((price) => {
			let pricevalue = price.innerText;
			let pricewithcomma = numberWithCommas(pricevalue)

			price.innerText = pricewithcomma
		})
	})

</script>
{% endblock %}