{% extends 'layouts/root-public.html' %}


{% block body %}
    <div class="container login__container">
        <main class="form-signin w-100 m-auto">
            <form action=""  method="POST">
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-4 text-center">Login</h1>

                <!-- PHONE NUMBER -->
                <div class="form-floating mb-3">
                    {% if form.phone.errors %}
                    {{ form.phone(
                        class="form-control is-invalid",
                        placeholder="Phone number"
                    ) }}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.phone(
                        class="form-control",
                        placeholder="Phone number"
                    ) }} 
                    {% endif %}

                    {{ form.phone.label() }}
                </div>

                <!-- PASSWORD -->
                <div class="form-floating mb-3">
                    {% if form.password.errors %}
                    {{ form.password(
                        class="form-control is-invalid",
                        placeholder="Password"
                    ) }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(
                        class="form-control",
                        placeholder="Password"
                    ) }} 
                    {% endif %}

                    {{ form.password.label() }}
                </div>

                <div class="checkbox mb-3">
                    <label>
                        {{ form.remember() }}
                        {{ form.remember.label() }}
                    </label>
                </div>

                {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
                
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
            </form>
        </main>
    </div>
{% endblock %}